html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

content {
    flex: 1 0 auto !important;
}

footer {
    flex-shrink: 0 !important;
}

modal-content {
    border-radius: 0.3rem;
    white-space: pre-line !important;
}

.ball-container {
    position: relative;
    text-align: center;
}

.ball-text {
    font-size: min(3vw,24px);
    font-weight:600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

